In [1]:
import numpy as np

import pandas as pd

In [4]:
In [3]: s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.510047  1.057715 -0.680534  0.423458
2013-01-02 -0.251962 -0.699856 -0.178587 -0.074289
2013-01-03 -0.931854  0.644679  1.500535 -0.798989
2013-01-04 -0.559664  1.425504 -0.898275 -0.372965
2013-01-05  2.153960  0.207185 -0.456487 -0.166858
2013-01-06  0.564495  1.570879 -0.136314 -0.067814

In [9]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [13]:
#df2.<TAB> 
df.head()

                   A         B         C         D
2013-01-01 -0.510047  1.057715 -0.680534  0.423458
2013-01-02 -0.251962 -0.699856 -0.178587 -0.074289
2013-01-03 -0.931854  0.644679  1.500535 -0.798989
2013-01-04 -0.559664  1.425504 -0.898275 -0.372965
2013-01-05  2.153960  0.207185 -0.456487 -0.166858

In [14]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.559664  1.425504 -0.898275 -0.372965
2013-01-05  2.153960  0.207185 -0.456487 -0.166858
2013-01-06  0.564495  1.570879 -0.136314 -0.067814

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.to_numpy()

df2.dtypes

df2.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by="B")

In [17]:
df["A"]

2013-01-01   -0.510047
2013-01-02   -0.251962
2013-01-03   -0.931854
2013-01-04   -0.559664
2013-01-05    2.153960
2013-01-06    0.564495
Freq: D, Name: A, dtype: float64

In [18]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.510047  1.057715 -0.680534  0.423458
2013-01-02 -0.251962 -0.699856 -0.178587 -0.074289
2013-01-03 -0.931854  0.644679  1.500535 -0.798989

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:, ["A", "B"]]

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

In [ ]:
df.loc[dates[0], "A"]

In [ ]:
df.at[dates[0], "A"]

In [ ]:
df.iloc[3]
df.iloc[3:5, 0:2]
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3, :]
df.iloc[:, 1:3]
df.iloc[1, 1]
df.iat[1, 1]

In [ ]:
df[df["A"] > 0]
df[df > 0]

In [ ]:
df2 = df.copy()

df2["E"] = ["one", "one", "two", "three", "four", "three"]

df2

In [ ]:
df2[df2["E"].isin(["two", "four"])]

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1
df["F"] = s1

In [ ]:
df.at[dates[0], "A"] = 0
df.iat[0, 1] = 0
df.loc[:, "D"] = np.array([5] * len(df))

In [ ]:
df
df2 = df.copy()

df2[df2 > 0] = -df2

df2

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

df1.loc[dates[0] : dates[1], "E"] = 1

df1

In [ ]:
df1.dropna(how="any")
df1.fillna(value=5)
pd.isna(df1)

In [ ]:
df.mean()
df.mean(axis=1)

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s
df.sub(s, axis="index")

In [ ]:
df.agg(lambda x: np.mean(x) * 5.6)

In [ ]:
df.transform(lambda x: x * 101.2)

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

s

s.value_counts()

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

s.str.lower()

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

left

right

pd.merge(left, right, on="key")

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df

In [ ]:
df.groupby("A")[["C", "D"]].sum()
df.groupby(["A", "B"]).sum()

In [ ]:
arrays = [
   ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
   ["one", "two", "one", "two", "one", "two", "one", "two"],
]


index = pd.MultiIndex.from_arrays(arrays, names=["first", "second"])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

df2 = df[:4]

df2

In [ ]:
stacked = df2.stack(future_stack=True)

stacked

In [ ]:
stacked.unstack()
stacked.unstack(1)
stacked.unstack(0)

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)


df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

In [ ]:
rng = pd.date_range("1/1/2012", periods=100, freq="s")

ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts.resample("5Min").sum()

In [ ]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")

ts = pd.Series(np.random.randn(len(rng)), rng)

ts
ts_utc = ts.tz_localize("UTC")

ts_utc

In [ ]:
ts_utc.tz_convert("US/Eastern")

In [ ]:
rng
rng + pd.offsets.BusinessDay(5)

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)

In [ ]:
df["grade"] = df["raw_grade"].astype("category")

df["grade"]

In [ ]:
new_categories = ["very good", "good", "very bad"]

df["grade"] = df["grade"].cat.rename_categories(new_categories)

In [ ]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)


df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade", observed=False).size()

In [ ]:
import matplotlib.pyplot as plt
plt.close("all")

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))

ts = ts.cumsum()

ts.plot();

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)


df = df.cumsum()

plt.figure();

df.plot();

plt.legend(loc='best');

In [ ]:
df = pd.DataFrame(np.random.randint(0, 5, (10, 5)))

df.to_csv("foo.csv")

In [ ]:
pd.read_csv("foo.csv")

In [ ]:
df.to_parquet("foo.parquet")

In [ ]:
pd.read_parquet("foo.parquet")

In [ ]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

In [ ]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])